img {
    width: 120px;
    height: 120px;
    padding: 0px 5px;
    margin: 0 auto;
    display: block;
    border-bottom: 1px solid black;
    margin-bottom: 5px;
    background: #FFCC00;
    border-radius: 5px 5px 0px 0px;
}
.main{
    width: 66vw;
    margin: 0 auto;
    height: fit-content;
}

input
{
    width: 80px;
}

table.training-pokemon tr th:first-child
{
    text-align: left;
}

body{
    background-color: darkgray;
}

.poke-wrap{
    overflow: hidden;
    border-radius: 10px;
    border: 5px solid darkblue;
    width: 160px;
    height: 200px;
    padding: 8px;
    margin: 5px;
    float: left;
    background: #0075BE;
}

.poke-wrap p{
    width: fit-content;
    margin: 0 auto;
    
}

.poke-wrap:hover{
    background-color: cyan;
    cursor: pointer;
}

button{
    border: none;
}

.counter{
    display: block;
    width: 40px;
    margin: 5px auto;
    text-align: right;
}